/*
 * Common Styles
 */
/*=== MAIN ===*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

 .no-margin {

    margin: 0 0;
 }
 .separator {

    margin: 3em 0;
 }
 .underlined {

    text-decoration: underline;
 }
 .flex-centering {
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
 }

/*=== COLORS ===*/
 .primary-bg {

    background-color: #242626;
 }
 .primary-color {

    color: #a69569;
 }
 .secondary-bg,
 .secondary-bg:focus,
 .secondary-bg:active,
 .secondary-bg:hover {

    background-color: #a69569;
 }
 .secondary-text-color {

    color: #777777;
 }
 .main-section-bg {

    background-color: #ffffff;
 }
 .secondary-section-bg {

    background-color: #f5f5f5;
 }
 .form-bg {

    background-color: #d6d6d6;
 }
 .post-title-color {

    color: #01579b;
 }
 .post-secondary-color {

    color: #a3a51f;
 }
 .tags-bg {

    background-color: #626262;
 }


/* MATERILIZE components and OVERRIDES */
 .parallax-container {

    height: 535px;
 }
 .carousel.carousel-slider .carousel-item {

    min-height: auto;
 }
 .carousel .indicators .indicator-item {

    height: 16px;
    width: 16px;
    background-color: rgba(0,0,0,0.5);
 }
 .carousel .indicators .indicator-item.active {

    background-color: #000;
 }

 .icon-size-mid {

    font-size: 3em;
 }

 .side-nav {

    padding-left: 15px;
 }
 .col img {

    height: auto;
 }

/*
 * Home page Styles
 */
/* == HEADER ==*/
 .top-address{

    margin-left: 5px;
 }
 .top-phone {

    margin-right: 15px;
 }

/* == MENU ==*/
 .top-menu {

    position: absolute;
    right: 100px;
    z-index: 50;
 }
 .top-menu a {

    font-size: 1.4em;
 }
 .parallax-title {

    position: relative;
    top: 20%;
 }
 .parallax-button {

    position: absolute;
    bottom: 5%;
 }

/*== STATISTICS SECTION ==*/
 .stat-numbers {

    font-size: 1.8em;
    font-weight: bolder;
    font-style: italic;
    margin: 15px 0 0;
 }
 .stat-descr {

    margin: 0 0 20px;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 3px;
 }

/*== ABOUT US SECTION ==*/
 .about-us-title {

    width: 465px;
    margin: 70px auto 20px;
    position: relative;
    padding-bottom: 20px;
 }
 .about-us-title::after {

    content: "";
    width: 50px;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;

 }
 .about-us-container {

    width: 460px;
    margin: auto;
 }
 .about-us-container .indicators {

    right: auto;
 }
 .carousel-img {

    width: 100%;
 }

/* == LATEST NEWS SECTION ==*/
 #latest-news {

    padding: 20px;
 }
 .news-wrapper {

    overflow-x: scroll;
 }
 .news-wrapper::-webkit-scrollbar {
    width: 12px;
 }

 .news-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
 }

 .news-wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
 }
 .scroll-wrapper {

    width: 2010px;
 }
 .news-item {

    width: 270px;
    height: auto;
    padding: 5px;
    margin: 0 15px;
    float: left;
    overflow: hidden;
 }
 .news-item img{

    width: 100%;
    max-height: 150px;
 }

/* == DIRECTIONS SECTION ==*/
 #directions {

 }
 .directions-title {

    margin-top: 5px;
 }
 .directions-wrapper {

    border-bottom: 1px solid black;
    margin: 0;
    padding: 20px;
    height: 70px;
 }
 .directions-wrapper .tabs .indicator {

    background-color: #000;
 }
 .directions-content {

    padding: 20px;
 }
 .personal-boxes {

    width: 6em;
    height: 6em;
    margin: 5px;
    padding: 1em;
    float: left;
    overflow: hidden;
 }

/* == PARTNERS SECTION ==*/
 #partners {

    height: 250px;
    padding-top: 15px;
    padding-bottom: 15px;
 }
 .partners-container{

    width: 600px;
    min-height: 170px;
    margin: auto;
 }
 .partner-logo {

   max-width: 145px;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
 }

/* == FOOTER ==*/
 #footer {

    position: relative;
 }
 .footer-wrapper {

    padding: 20px 0;
 }
 .company-descr p {

    margin: 0;
    font-size: 0.9em;
 }
 .footer-links {

    display: inline-block;
    margin-top: 26px;
 }
 .footer-links li{

    float: left;
    padding: 0 15px;
    text-transform: uppercase;
 }
 .footer-links li:hover,
 .footer-links li:active,
 .footer-links li:focus,
 .footer-links li.active {

    cursor: pointer;
    text-decoration: underline;
    color: whitesmoke;
 }
 .footer-logo {

    position: absolute;
    bottom: 25px;
    left: 50%;
 }
 .contact-info {

    margin-top: 30px;
 }
 .contact-info p{

    margin: 0;
 }


/*== SCROLL TO TOP ==*/
 .scroll-top {
    position: fixed;
    right: 7px;
    bottom: 5em;
 }

/*
 * Blog page Styles
 */
 .main-title {

    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
 }
 .main-title::after {

    content: '';
    display: block;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 80px;
    width: 1px;
    height: 30px;
    background: white;

 }
 .blog-descr {

    font-style: italic;
    font-weight: 300;
    letter-spacing: 1px;
 }

/*== POSTS STYLES ==*/
 .image-wrapper {

    position: relative;
    margin: 2em 0;
 }
 .date-sticker {

    width: 3.3em;
    height: 3.6em;
    padding: 0px 2px 2px 0px;
    text-align: center;
    border-radius: 2px 2px 0 0;
    position: absolute;
    left: 25px;
    top: 10px;
 }
 .date-sticker:after {

    content: '';
    position: absolute;
    top: 2.5em;
    left: 0px;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-left: 1em solid #a69569;
    z-index: 0;
 }
 .month {

    display: block;
 }
 .day {

    font-size: 1.6em;
    display: block;
 }
 .post-info {

    position: relative;
    margin: 5px 0 0;
 }
 .post-info::after {

    content: "";
    display: block;
    width: 2em;
    height: 2px;
    background-color: black;
    position: relative;
    top: 3px;
    left: 0;
 }
 .post-info .bolded {

    font-weight: bold;
 }
 .post-title {

    font-weight: bold;
    font-size: 2em;
    letter-spacing: 2px;
 }
 .post-text img{

    width: 100%;
 }
 .read-more {

    padding: 0 0.75rem;
    margin: 10px 0 30px;
    display: inline-block;
 }

/*== SIDEBAR STYLES ==*/
 .sidebar-title {

    text-align: center;
    position: relative;
    padding: 0 15px;
 }
 .sidebar-title::before {

    content: '';
    position: absolute;
    left: -5px;
    top: 0.5em;
    width: 15%;
    height: 2px;
    background: #d6d6d6;
 }
 .sidebar-title::after {

    content: '';
    position: absolute;
    right: -5px;
    top: 0.5em;
    width: 15%;
    height: 2px;
    background: #d6d6d6;
 }
 .categories {

 }
 .category a {

    padding-left: 5px;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0,0,0,0.87);
 }
 .category a:hover ,
 .category a:focus ,
 .category a:active ,
 .category.active-cat {

    text-decoration: underline;
 }
 .sidebar-post {

 }
 .sidebar-post-pic {

    width: 56px;
    height: 56px;
    margin: 0px 10px;
 }
 .sidebar-post-title {

    font-weight: 800;
    padding: 0 5px;
 }
 .sidebar-post-text {

    margin: 0 0px 0 30px;
 }
 .insta-pics {

    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
 }
 .insta-pic {

    width: 50px;
    height: 50px;
    margin: 4px;
 }



/*
 * Single Post page Styles
 */
 #post-top {

    height: 4.5em;
 }
 .single-post-title {

    font-weight: 500;
    letter-spacing: 2px;
    position: relative;
    margin: 35px 0;
 }
 .single-post-title::after {

    content: "";
    display: block;
    width: 2em;
    height: 3px;
    background-color: black;
    position: relative;
    top: 3px;
    left: 0;
 }
 .post-pic {

    width: 100%;
 }
 .tags {

    padding: 15px 10px 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
 }
 .post-tag ,
 [rel^="tag"],
 [class^="tag-link-"] {

    padding: 10px;
    background-color: #e8e8e8;
    color: #242626;
    margin: 15px 10px 20px;
 }

 /* WP OVERRIDES */
 .tagcloud {

    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
 }
 .tagcloud [class^="tag-link-"] {

    margin: 0px 5px 10px;
 }

/*
 * 404 page Styles
 */
 .message-404 {

    background-color: rgba(51,51,51,0.9);
    padding: 50px;
 }

 /*
  * Consultation Form
  */
  .consultation-title {

  }
  .consult-form {

  }
  .send {

    background-color: transparent;
    color: black;
    border: 2px solid black;
    border-radius: 20px;
    text-transform: uppercase;
  }
  .send:hover,
  .send:focus,
  .send:active {

    background-color: transparent;
  }